label, select, option {
    cursor: pointer;
}

@media(min-width: 700px) {
    input, button, select {
        font-size: 10pt;
        margin-top: 2px;
    }

    input[type="button"],
    input[type="reset"],
    input[type="submit"],
    button {
        padding: 2px 4px;
        height: 24px;
        min-height: 24px;
    }

    select {
        height: 24px;
        min-height: 24px;
    }
}

@media(min-width: 450px) and (max-width: 699px) {
    input, button, select {
        font-size: 8pt;
        margin-top: 1px;
    }

    input[type="button"],
    input[type="reset"],
    input[type="submit"],
    button {
        padding: 1px 2px;
        height: 20px;
        min-height: 20px;
    }

    select {
        height: 20px;
        min-height: 20px;
    }
}

@media(min-width: 200px) and (max-width: 449px) {
    input, button, select {
        font-size: 6pt;
        margin-top: 0px;
    }

    input[type="button"],
    input[type="reset"],
    input[type="submit"],
    button {
        padding: 0px 0px;
        height: 20px;
        min-height: 20px;
    }

    select {
        height: 18px;
        min-height: 18px;
    }
}

input, button, select {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
select {
    border: none;
    padding: 2px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
select {
    border: 1px solid #ccc;
    /* border: 1px solid transparent; */
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
select:focus {
    border-color: #999;
}

input[type="button"],
input[type="reset"],
input[type="submit"],
button {
    padding: 2px 4px;
    background-color: #333;
    color: #fff;
    border: none;
    outline: 1px solid #333;
    cursor: pointer;
}

input[type="button"],
input[type="reset"],
input[type="submit"],
button {
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
}

input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active,
button:active {
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-bottom: 1px solid #808080;
    border-right: 1px solid #808080;
}

:lang(ja) input,
:lang(ja) button,
:lang(ja) select {
    font-family:
        "ﾒｲﾘｵ",
        "メイリオ",
        "Meiryo",
        "Meiryo UI",
        "ＭＳ Ｐゴシック",
        "MS Pｺﾞｼｯｸ",
        "MS PGothic",
        "MS UI Gothic",
        "ＭＳ ゴシック",
        "MS ｺﾞｼｯｸ",
        "MS Gothic",
        sans-serif;
}
