html, body {
    width: 100%;
    height: 100%;
}

body {
    line-height: 1.2;
    font-family: sans-serif;
}

h1 { font-size: 300%; }
h2 { font-size: 250%; }
h3 { font-size: 200%; }
h4 { font-size: 175%; }
h5 { font-size: 150%; }
h6 { font-size: 125%; }

.ui {
    background-color: #eee;
    font-weight: 200;
}