#main, #container {
    width: 100%;
    height: 100%;
}

#container thead {
    height: 20%;
}

#container thead tr th {
    width: 100%;
    vertical-align: bottom;
    padding: 8px;
}

#username {
    font-size: 300%;
    text-align: left;
}

#scroller {
    display: block;
    width: 100%;
}

#scroller * {
    text-align: center;
}

#scroller .year {
    font-size: 200%;
}

#scroller .dates {
    font-size: 150%;
    margin: 0 auto;
}

#scroller .dates > li {
    display: inline-block;
}

#scroller .dates > li > .day {
    display: block;
}

#scroller .dates > li > .month {
    display: block;
    font-size: 50%;
}

#content .square-group {
    display: inline-block;
    padding: 8px 4px;
    border-right: 1px dashed #999;
    height: 100%;
}

#content .square {
    background-color: #ccc;
    display: inline-block;
    padding: 8px;
    margin: 0 4px;
}